@import "tailwindcss";

@theme {
  colors: {
    primary: #9D00FF;
    secondary: #00F0FF;
    accent: #FF5C00;
    bgDark: {
      900: #050505;
      800: #0f111a;
      700: #1b1e2e;
    };
    neon: {
      purple: #9D00FF;
      blue: #00F0FF;
      orange: #FF5C00;
      pink: #FF00E5;
    };
  }

  fontFamily: {
    lato: "Lato, sans-serif";
    sans: "InterVariable, system-ui, sans-serif";
  }

  screens: {
    xxs: "320px";
    xs: "480px";
    sm: "640px";
    md: "768px";
    mdl: "960px";
    lg: "1024px";
    xl: "1280px";
    "2xl": "1536px";
    "3xl": "1920px";
  }

  spacing: {
    128: 32rem;
  }
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
